.bgimage {
    background-image: url("src/assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bglogo{
    height: 550px;
    width: 750px;
  }

  .lightbg{
    background-image: url("../../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;

  }
  
 
.navbar {
    height: 60px; /* Adjust the height value as per your preference */
    background-color: #0d0c0c;
    /* background-image: url("../../assets/background.svg"); */
     /* Set the background color of the navbar */
    /* Add any other styles you want for the navbar */
  }
  
  .navbar-logo { padding-left: 2%;
    width: 350px; /* Adjust the width of the logo image */
    height: 70px; /* Adjust the height of the logo image */
    /* Add any other styles you want for the logo image */
  }
  .footerimg{
    width:400px;
   
    
  }

 .footerbg{
    
    background-image: url("src/assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
