.DashboardPageMainClass {
  height: 100vh;
  padding: 2%;
  border-radius: 2rem;
  margin-right: 1.8rem;
  overflow: hidden;
  margin-left: 2%;
  max-height: 84vh;
  margin-top: 2%;

  /* -webkit-box-shadow: 3px 5px 27px 17px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 3px 5px 27px 17px rgba(0, 0, 0, 0.31);
  box-shadow: 3px 5px 27px 17px rgba(0, 0, 0, 0.31); */
  -webkit-box-shadow: -1px -1px 9px 2px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -1px -1px 9px 2px rgba(0, 0, 0, 0.23);
  box-shadow: -1px -1px 9px 2px rgba(0, 0, 0, 0.23);
}

.Dashboard-head-name {
  font-size: xx-large;
  padding-bottom: 1%;
}
