.DashboardPageMainClass {
  height: 100vh;
  padding: 2%;
  border-radius: 2rem;
  margin-right: 1.8rem;
  overflow: hidden;
  margin-left: 2%;
  max-height: 84vh;
}

.Dashboard-head-name {
  font-size: xx-large;
  padding-bottom: 1%;
}
