.new-video-btn {
  margin-left: auto;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 1.5rem;
  border: 2px solid;
  color: #ff206e;
  border-color: #ff206e;
  background-color: #ffffff;
}
.new-video-btn:hover {
  /* color: #111111; */
  color: #ffffff;
  border: 2px solid #ff83a5;
  background-color: #ff83a5;
  transition: 0.3s;
}

.dash-navbar-container {
  /* background-color: #373131; */
  font-size: larger;
  /* padding: 10px; */
}

.dash-navbar-names {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dash-navbar {
  display: flex;
  list-style-type: none;
  justify-content: center; /* Center align the list items */
  padding: 10px;
}

.dash-navbar li {
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  /* color: #ffffff; */
  font-weight: bold;
}

.dash-navbar li.active {
  text-decoration: none;
}

.dash-navbar li .underline {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  /* background-color: #ffffff; */
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dash-navbar li.active .underline {
  opacity: 1;
}

/* ------------ */

.save-form {
  margin-top: 20px;
  border-color: #000000;
}

.save-form h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.save-form label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.save-form input,
.save-form select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  font-size: 14px;
}

.save-form button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.SaveRecordingInputFields {
  background-color: bisque;
  border: 2px solid #ffb1b1;
  border-radius: 15px;
}
