.horizontal-list-container {
  width: 100%;
  overflow-x: auto;
  padding: 10px;
}

.horizontal-list {
  display: flex;
  flex-wrap: nowrap;
}

.list-item {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
